<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="home">Logo</span>
    <div class="routes">
      <span routerLink="home">Home</span>
      <span routerLink="contact-us">Contact us</span>
      <span routerLink="about-us">About us</span>
    </div>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" >favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
